<%- include ('../../partials/header')%>
<%- include ('../../partials/navbar')%>

<div class="container">
    <br>
    <h2>Usuários</h2>
    <a class="btn btn-primary" href="/admin/users/create"> Criar Novo Usuário</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                   <td><%= user.id %></td>
                   <td><%= user.email%></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

<%- include ('../../partials/footer')%>